.jumbotron {
    text-align: center;
    background-image:url("space2.jpg");
    color: white;
    border: solid 10px rgb(218, 218, 3);
        
}
.form-control{
width: 400px;
margin: auto;
margin-top: 1rem;
}

.mars{
    padding: 2rem;
   
}
h3{
    color: white;
}

.bgPicture {
    position: absolute;
}
.hide{
    display: none;
}
.topMargin{
    margin-top: 2rem;
}